<!DOCTYPE html>
<html>  
    <head>
        <link rel='stylesheet' href='/stylesheets/survey.css' />
        <link rel='stylesheet' href='/stylesheets/diff_type.css' />

        <meta charset="utf-8">
        <!-- 모바일 우선 -->
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="navbar_logo">
        <div style="font-weight: bold; font-size: 20px;" ><a href="/"> <img class="logo" src="../images/img-logo@3x.png "></a> </div>
        <a class="navbar_info" href="../diff_type">6개 협업 유형 보러가기</a>
    </div>

          <section id="gallery">
            <div class="container">
              <div class="row">
              <div class="col-lg-4 mb-4">
              <div class="card">
                <img src="images/img_type_medium_garae@3x.png" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-box">
                  <div class="card-tag">
                    호기심
                  </div>
                  <div class="card-tag">
                    효율 추구
                  </div>
                  <div class="card-tag">
                    따듯한 마음
                  </div>
                </div>
                <a href="/detail/1">
                <img src="images/btn_morelearn@3x.png" alt="" class="add" ></a>
                </div>
               </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card">
                  <img src="images/img_type_medium_heugimja@3x.png" alt="" class="card-img-top">
                  <div class="card-body">

                    <div class="card-box">
                    <div class="card-tag">
                      자신감 실현의 욕구
                    </div>
                    <div class="card-tag">
                      높은 기준
                    </div>
                    <div class="card-tag">
                      분석적
                    </div>
                  </div>
                  <a href="/detail/2">
                  <img src="images/btn_morelearn@3x.png" alt="" class="add"></a>
                  </div>
                 </div>
                </div>
                <div class="col-lg-4 mb-4">
                  <div class="card">
                    <img src="images/Img_type_medium_mujigae@3x.png" alt="" class="card-img-top">
                    <div class="card-body">

                      <div class="card-box">
                      <div class="card-tag">
                        행동적
                      </div>
                      <div class="card-tag">
                        즐거움 추구
                      </div>
                      <div class="card-tag">
                        사람을 좋아함
                      </div>
                    </div>
                    <a href="/detail/3">
                    <img src="images/btn_morelearn@3x.png" alt="" class="add"></a>
                    </div>
                   </div>
                  </div>
          </section>
          <section id="gallery">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 mb-4">
                  <div class="card">
                    <img src="images/img_type_medium_Injeolmi@3x.png" alt="" class="card-img-top">
                    <div class="card-body">

                      <div class="card-box">
                      <div class="card-tag">
                        외향적
                      </div>
                      <div class="card-tag">
                        확신적
                      </div>
                      <div class="card-tag">
                        활발함
                      </div>
                    </div>
                    <a href="/detail/4">
                    <img src="images/btn_morelearn@3x.png" alt="" class="add"></a>
                    </div>
                   </div>
                  </div>
                  <div class="col-lg-4 mb-4">
                    <div class="card">
                      <img src="images/img_type_medium_ho@3x.png" alt="" class="card-img-top">
                      <div class="card-body">

                        <div class="card-box">
                        <div class="card-tag">
                          성장지향적
                        </div>
                        <div class="card-tag">
                          심사숙고
                        </div>
                        <div class="card-tag">
                          더 나은 세상
                        </div>
                      </div>
                      <a href="/detail/5">
                      <img src="images/btn_morelearn@3x.png" alt="" class="add"></a>
                      </div>
                     </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                      <div class="card">
                        <img src="images/img_type_medium_ssook@3x.png" alt="" class="card-img-top">
                        <div class="card-body">

                          <div class="card-box">
                          <div class="card-tag">
                            부지런함
                          </div>
                          <div class="card-tag">
                            모범적
                          </div>
                          <div class="card-tag">
                            안정적
                          </div>
                        </div>
                        <a href="/detail/6">
                        <img src="images/btn_morelearn@3x.png" alt="" class="add"></a>
                        </div>
                       </div>
                      </div>
          </section>
    </body>
</html>