<!DOCTYPE html>
<html>
<head>
  <!— Global site tag (gtag.js) - Google Analytics —>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154966557-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-154966557-1');
  </script>
  <meta name="naver-site-verification" content="86a7bcf1ff7ad554ba7bf63d9c30b85cbfa82128" />
   <meta name="keyword"  content="찰떡피플, 유형테스트, 협업유형테스트, 협업, mbti, 성격유형검사, 찰떡, 성격유형, 테스트, 심리테스트, 성격검사, MBTI" />
   <meta name="description"  content="찰떡피플 : 내 협업 스타일, 그리고 나랑 일할 때 가장 찰떡인 사람들을 찰떡피플에서 찾아보세요!" /> 
  <meta property="og:url"  content="http://chaltteok-pp.cf" />
	<meta property="og:title"  content="찰떡피플 : 협업 유형 테스트" />
	<meta property="og:description"  content="내 협업 스타일, 그리고 나랑 일할 때 가장 찰떡인 사람들을 찰떡피플에서 찾아보세요!" />
  <meta property="og:image" content="images/ctpp.png" />
  <link rel="canonical" href="http://chaltteok-pp.cf">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>찰떡피플</title>
  <script data-ad-client="pub-4446451599556782" async src="https://pagead2.googlesyndication.com/
pagead/js/adsbygoogle.js"></script>
</head>

<body>

<div class="navbar_logo">
  <div style="font-weight: bold; font-size: 20px;" ><a href="/"> <img class="logo" src="../images/img-logo@3x.png "></a> </div>
  <a class="navbar_info" href="../diff_type">6개 협업 유형 보러가기</a>
</div>


<div class="intro"><div>
  <p  class="fontCafe">내 협업유형,</p>
  <p  class="fontCafe">그리고 나의 <span>찰떡피플</span>은 누구일까?</p></div></div>

<div class="img-main">
  <img src="images/img-main.png" class="img_main">
</div>


<div class="btn_gototest">
  <form action="../user">
    <input type="submit" value="테스트하러 가기"
           style="width: 273px;
  height: 64px;
  border-radius: 60px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #3673e5;
  font-family: NotoSans;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: white;
  border:none;
  "></form>
</div>
</div >

<div class="guide">
  <div>내 협업유형, 같이 협업하기 좋은 유형을 알아볼 수 있는 테스트입니다.</div>
  5분의 짧은 테스트를 통해 나만의 협업 스타일을 알아보세요 !
</div>

<div class=introduce>찰떡피플의<div style="padding-top: 10px;">기획 디자인 개발</div></div>

<div class="profile">
  <img src="images/img-profile-dahye.png" class="img_profile_dahye" >
  <img src="images/img-profile-daeun.png" class="img_profile_daeun">
  <img src="images/img-profile-hyowon.png" class="img_profile_hyowon">
</div>

</div>


</body>

</html>