<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/result.css' />
    <meta charset="utf-8">
    <!-- 모바일 우선 -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>

    <div class="resultChar">
        <img class= "resultImg" src="https://post-phinf.pstatic.net/MjAxOTA1MDhfMjM0/MDAxNTU3Mjg3MDcxODg5.T2RxN-e_PT1j5xBCaPNvDEjE_efe9mrVjGO2t4Hl624g.MBwsmf5jUaW4yP4B_zg8CZQUdiSh66DAEi_aZ7Miw9Ag.PNG/image_7075135011557287055533.png?type=w1200">
    </div>



    <div class="totalBorder">
    <div class = "resultExplanation">
        <p>
        <div class = "title" style="padding-top: 0px;">  키워드 </div>
            <div style="display: flex;  justify-content: space-between;">
                <div class="keyword"> 성장지향적</div>
                <div class="keyword"> 심사숙고</div>
                <div class="keyword"> 더 나은 세상</div>
                <div class="keyword"> 자아실현의 욕구</div>
                <div class="keyword"> 잠재력 개발</div>
            </div>
        </p>
        <p>
        <div class = "title">  특징 </div>
        <ul><li> 인간에 대한 따스한 감성리더십으로, 팀원들로부터 최상의 능력을 끌어내고, 갈등을 해소하고 협력하도록 도와요.</li>
            <li> 풍부한 상상력을 기반으로 다양힌 아이디어를 내놓는 ‘아이디어 뱅크’  </li>
            <li> 의사소통에 능해서 긍정적인 변화를 가져오는 촉매자 역할을 해요.</li>
            <li> 의미, 가치 부여를 중요하게 생각하기 때문에 본인이 하고 있는 일에 대해 단순한 일 이상의 가치를 부여하기도 해요. </li>
            <li> 갈등, 소외 등의 문제를 타 유형보다 더 불편하게 생각해요.</li>   </ul>
        </p>
        <p>
        <div class = "title">  대표적인 인물 </div>
        <div> 팀쿡, 야후의 창업자 제리양 </div>
        </p>
        <p>
        <div class = "title">  선호하는 업무환경 </div>
        <ul><li> 성장과 복지를 중요하게 여기는 곳쿡, 야후의 창업자 제리양</li>
            <li> 창의적인 아이디어가 수용되는 곳</li>
            <li> 조화롭고 배려하는 분위기</li>   </ul>
        </p>

        <p>
        <div class = "title">  적합한 포지션 </div>
        <div> 기획자</div>
        </p>
        <p>
        <div class = "title">  앱잼내의 포지션</div>
        <div> 앱잼 내의 ‘엄마’ <br>
              따스한 마음을 가진 당신에게 많은 이들이 마음을 의지하고 있을 지 몰라요 >< <br>  </div>
        </p>
    </div>

    <div class="container">
        <div class = "matchType">
            나랑 가장 잘 맞는 협업 유형
        </div>
        <div class="row">
            <div class="col-sm-6" >
                <img class ="matchTypeImg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRKpfrgePQUpZ6NMrdTRfaty_27vCOHDwJYDda2UfZwne6eiim&usqp=CAU">
            </div>
            <div class="col-sm-6">
                <div class ="matchTypeRight">
                    <div class="matchTypeNameTitle"> 찰떡 피플 둘러보기 </div>
                    <table class ="matchTypeName">
                        <tr> <td class="partName">파트</td>  <td class="nickName">닉네임</td>   <td class="partName">파트</td>  <td class="nickName">닉네임</td> </tr>
                        <tr> <td class="partName">파트</td>  <td class="nickName">닉네임</td>   <td class="partName">파트</td>  <td class="nickName">닉네임</td> </tr>
                        <tr> <td class="partName">파트</td>  <td class="nickName">닉네임</td>   <td class="partName">파트</td>  <td class="nickName">닉네임</td> </tr>
                        <tr> <td class="partName">파트</td>  <td class="nickName">닉네임</td>   <td class="partName">파트</td>  <td class="nickName">닉네임</td> </tr>
                    </table>
<!--                    <div class = "matchTypeNameNext">
                         0 0 0 0 0
                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="share">
        <div class = "shareText">
            내 협업 유형 공유하기
        </div>
        <div class = "snsGroup">
            <img class="sns" src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FSq4OD%2Fbtqzlkr13eD%2FdYwFnscXEA6YIOHckdPDDk%2Fimg.jpg">
            <img class="sns" src="https://cdn.pixabay.com/photo/2017/08/20/10/30/facebook-2661207_960_720.jpg">
            <img class="sns" src="https://t1.daumcdn.net/cfile/tistory/99B6AB485D09F2132A">
        </div>
    </div>
    </div>

    <div class ="btnAlign">
        <button class = "typeBtn">다른 타입 구경하러 가기</button>
    </div>

</body>

</html>