<!DOCTYPE html>
<html>  
    <head>
        <link rel='stylesheet' href='/stylesheets/survey.css' />
        <!-- <link rel='stylesheet' href='/stylesheets/btn.css' /> -->
        <meta charset="utf-8">
        <!-- 모바일 우선 -->
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="navbar_logo">
            <div class="logo" style="font-weight: bold; font-size: 20px;">찰떡피플</div>

            <a class="navbar_info" href="./diff_type">6개 협업 유형 보러가기</a>
        </div>

            <img class="item-pop" src="images/sea.jpg">
   
        <div class="survey_list">
            <div class="survey">
                <div class="question">
                    <div>주로 현실에서 일어난 일을 바탕으로 꿈을 꿉니다.</div>
                </div>
                <div id="rb-15" class="rb">
                  <div class ="yes">그렇다</div>
                  <div class="rb-tab" data-value="-2">
                    <div class="rb-spot">
                      <div class="add1"></div>
                    </div>
                  </div><div class="rb-tab" data-value="-1">
                    <div class="rb-spot">
                      <div class="add2"></div>
                    </div>
                  </div><div class="rb-tab" data-value="0">
                    <div class="rb-spot">
                      <div class="add3"></div>
                    </div>
                  </div><div class="rb-tab" data-value="1">
                    <div class="rb-spot">
                      <div class="add4"></div>
                    </div>
                  </div><div class="rb-tab" data-value="2">
                    <div class="rb-spot">
                      <div class="add5"></div>
                    </div>
                  </div>
                  <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
                <div class="question">
                    <div>책상위에 물건들을 제자리에 두지 않습니다.</div>
                </div>
                <div id="rb-16" class="rb">
                  <div class ="yes">그렇다</div>
                  <div class="rb-tab" data-value="-2">
                    <div class="rb-spot">
                      <div class="add1"></div>
                    </div>
                  </div><div class="rb-tab" data-value="-1">
                    <div class="rb-spot">
                      <div class="add2"></div>
                    </div>
                  </div><div class="rb-tab" data-value="0">
                    <div class="rb-spot">
                      <div class="add3"></div>
                    </div>
                  </div><div class="rb-tab" data-value="1">
                    <div class="rb-spot">
                      <div class="add4"></div>
                    </div>
                  </div><div class="rb-tab" data-value="2">
                    <div class="rb-spot">
                      <div class="add5"></div>
                    </div>
                  </div>
                  <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
                <div class="question">
                    <div>친구가 어떤 일로 슬퍼하거나 우울해 할 경우, 현실적인 판단을 제공해주기 보다는 정신적인 지지를 제공하고 공감해줍니다.</div>
                </div>
                <div id="rb-17" class="rb">
                  <div class ="yes">그렇다</div>
                  <div class="rb-tab" data-value="-2">
                    <div class="rb-spot">
                      <div class="add1"></div>
                    </div>
                  </div><div class="rb-tab" data-value="-1">
                    <div class="rb-spot">
                      <div class="add2"></div>
                    </div>
                  </div><div class="rb-tab" data-value="0">
                    <div class="rb-spot">
                      <div class="add3"></div>
                    </div>
                  </div><div class="rb-tab" data-value="1">
                    <div class="rb-spot">
                      <div class="add4"></div>
                    </div>
                  </div><div class="rb-tab" data-value="2">
                    <div class="rb-spot">
                      <div class="add5"></div>
                    </div>
                  </div>
                  <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
                <div class="question">
                    <div>금방 새로운 팀원들과 어울리기 시작합니다.</div>
                </div>
                <div class ="yes">그렇다</div>
                <div class="rb-tab" data-value="-2">
                  <div class="rb-spot">
                    <div class="add1"></div>
                  </div>
                </div><div class="rb-tab" data-value="-1">
                  <div class="rb-spot">
                    <div class="add2"></div>
                  </div>
                </div><div class="rb-tab" data-value="0">
                  <div class="rb-spot">
                    <div class="add3"></div>
                  </div>
                </div><div class="rb-tab" data-value="1">
                  <div class="rb-spot">
                    <div class="add4"></div>
                  </div>
                </div><div class="rb-tab" data-value="2">
                  <div class="rb-spot">
                    <div class="add5"></div>
                  </div>
                </div>
                <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
              <div class="question">
                  <div>책, 예술, 영화 등 다양한 해석의 여지가 있는 것을 좋아합니다.</div>
              </div>
              <div id="rb-19" class="rb">
                <div class ="yes">그렇다</div>
                <div class="rb-tab" data-value="-2">
                  <div class="rb-spot">
                    <div class="add1"></div>
                  </div>
                </div><div class="rb-tab" data-value="-1">
                  <div class="rb-spot">
                    <div class="add2"></div>
                  </div>
                </div><div class="rb-tab" data-value="0">
                  <div class="rb-spot">
                    <div class="add3"></div>
                  </div>
                </div><div class="rb-tab" data-value="1">
                  <div class="rb-spot">
                    <div class="add4"></div>
                  </div>
                </div><div class="rb-tab" data-value="2">
                  <div class="rb-spot">
                    <div class="add5"></div>
                  </div>
                </div>
                <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
              <div class="question">
                  <div>팀플 작업 시 협력적인 것보다 체계적인 것이 더 중요합니다.</div>
              </div>
              <div id="rb-20" class="rb">
                <div class ="yes">그렇다</div>
                <div class="rb-tab" data-value="-2">
                  <div class="rb-spot">
                    <div class="add1"></div>
                  </div>
                </div><div class="rb-tab" data-value="-1">
                  <div class="rb-spot">
                    <div class="add2"></div>
                  </div>
                </div><div class="rb-tab" data-value="0">
                  <div class="rb-spot">
                    <div class="add3"></div>
                  </div>
                </div><div class="rb-tab" data-value="1">
                  <div class="rb-spot">
                    <div class="add4"></div>
                  </div>
                </div><div class="rb-tab" data-value="2">
                  <div class="rb-spot">
                    <div class="add5"></div>
                  </div>
                </div>
                <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
              <div class="question">
                  <div>팀 프로젝트에서 회의나 논쟁 중 본인 의견이 뽑히는 것이 상대방이 조금 불쾌해하더라도 더 중요합니다.</div>
              </div>
              <div id="rb-21" class="rb">
                <div class ="yes">그렇다</div>
                <div class="rb-tab" data-value="-2">
                  <div class="rb-spot">
                    <div class="add1"></div>
                  </div>
                </div><div class="rb-tab" data-value="-1">
                  <div class="rb-spot">
                    <div class="add2"></div>
                  </div>
                </div><div class="rb-tab" data-value="0">
                  <div class="rb-spot">
                    <div class="add3"></div>
                  </div>
                </div><div class="rb-tab" data-value="1">
                  <div class="rb-spot">
                    <div class="add4"></div>
                  </div>
                </div><div class="rb-tab" data-value="2">
                  <div class="rb-spot">
                    <div class="add5"></div>
                  </div>
                </div>
                <div class="no">그렇지 않다</div>
            </div>

        <div class="btn1">
          <button class="submit trigger3" onclick="location.href='./survey4'" >다음으로 넘어가기</button>
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

        <script src="js/index1.js"></script>
    </body>
</html>