<!DOCTYPE html>
<html>  
    <head>
        <link rel='stylesheet' href='/stylesheets/survey.css' />
        <link rel='shortcut icon' href='#'>
        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon-120x120-precomposed" href="/apple-touch-icon-120x120-precomposed.png">
        <link rel="apple-touch-icon-120x120" href="/apple-touch-icon-120x120.png">
        <meta charset="utf-8">
        <!-- 모바일 우선 -->
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      </head>

    <body>
      <div class="navbar_logo">
        <div style="font-weight: bold; font-size: 20px;" > <img class="logo" src="../images/img-logo@3x.png "> </div>
        <a class="navbar_info" href="../diff_type">6개 협업 유형 보러가기</a>
    </div>

            <img class="item-pop" src="images/img_precaution_new.png">
        
        <div class="survey_list">
            <div class="survey">
                <div class="question">
                    <div>재밌었다가 우울해지고 우울했다가 재밌어지는 상황이 반복적으로 일어날 때가 있습니다.</div>
                </div>
                <div id="rb-1" class="rb">
                    <div class ="yes">그렇다</div>
                    <div class="rb-tab" data-value="-2">
                      <div class="rb-spot">
                        <div class="add1"></div>
                      </div>
                    </div><div class="rb-tab" data-value="-1">
                      <div class="rb-spot">
                        <div class="add2"></div>
                      </div>
                    </div><div class="rb-tab" data-value="0">
                      <div class="rb-spot">
                        <div class="add3"></div>
                      </div>
                    </div><div class="rb-tab" data-value="1">
                      <div class="rb-spot">
                        <div class="add4"></div>
                      </div>
                    </div><div class="rb-tab" data-value="2">
                      <div class="rb-spot">
                        <div class="add5"></div>
                      </div>
                    </div>
                    <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
                <div class="question">
                    <div>팀원에게 먼저 말을 거는 편입니다.</div>
                </div>
                <div id="rb-2" class="rb">
                  <div class ="yes">그렇다</div>
                  <div class="rb-tab" data-value="-2">
                    <div class="rb-spot">
                      <div class="add1"></div>
                    </div>
                  </div><div class="rb-tab" data-value="-1">
                    <div class="rb-spot">
                      <div class="add2"></div>
                    </div>
                  </div><div class="rb-tab" data-value="0">
                    <div class="rb-spot">
                      <div class="add3"></div>
                    </div>
                  </div><div class="rb-tab" data-value="1">
                    <div class="rb-spot">
                      <div class="add4"></div>
                    </div>
                  </div><div class="rb-tab" data-value="2">
                    <div class="rb-spot">
                      <div class="add5"></div>
                    </div>
                  </div>
                  <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
                <div class="question">
                    <div>비현실적이지만 흥미로운 상상을 많이 하는 편입니다.</div>
                </div>
                <div id="rb-3" class="rb">
                  <div class ="yes">그렇다</div>
                  <div class="rb-tab" data-value="-2">
                    <div class="rb-spot">
                      <div class="add1"></div>
                    </div>
                  </div><div class="rb-tab" data-value="-1">
                    <div class="rb-spot">
                      <div class="add2"></div>
                    </div>
                  </div><div class="rb-tab" data-value="0">
                    <div class="rb-spot">
                      <div class="add3"></div>
                    </div>
                  </div><div class="rb-tab" data-value="1">
                    <div class="rb-spot">
                      <div class="add4"></div>
                    </div>
                  </div><div class="rb-tab" data-value="2">
                    <div class="rb-spot">
                      <div class="add5"></div>
                    </div>
                  </div>
                  <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
                <div class="question">
                    <div>여행을 갈 때 즉흥적으로 다니기보다는 계획을 철저하게 세우는 편입니다.</div>
                </div>
                <div id="rb-4" class="rb">
                  <div class ="yes">그렇다</div>
                  <div class="rb-tab" data-value="-2">
                    <div class="rb-spot">
                      <div class="add1"></div>
                    </div>
                  </div><div class="rb-tab" data-value="-1">
                    <div class="rb-spot">
                      <div class="add2"></div>
                    </div>
                  </div><div class="rb-tab" data-value="0">
                    <div class="rb-spot">
                      <div class="add3"></div>
                    </div>
                  </div><div class="rb-tab" data-value="1">
                    <div class="rb-spot">
                      <div class="add4"></div>
                    </div>
                  </div><div class="rb-tab" data-value="2">
                    <div class="rb-spot">
                      <div class="add5"></div>
                    </div>
                  </div>
                  <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
              <div class="question">
                  <div>스스로 불안해하지 않습니다.</div>
              </div>
              <div id="rb-5" class="rb">
                <div class ="yes">그렇다</div>
                <div class="rb-tab" data-value="-2">
                  <div class="rb-spot">
                    <div class="add1"></div>
                  </div>
                </div><div class="rb-tab" data-value="-1">
                  <div class="rb-spot">
                    <div class="add2"></div>
                  </div>
                </div><div class="rb-tab" data-value="0">
                  <div class="rb-spot">
                    <div class="add3"></div>
                  </div>
                </div><div class="rb-tab" data-value="1">
                  <div class="rb-spot">
                    <div class="add4"></div>
                  </div>
                </div><div class="rb-tab" data-value="2">
                  <div class="rb-spot">
                    <div class="add5"></div>
                  </div>
                </div>
                <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
              <div class="question">
                  <div>주목받는 일에 관심이 없습니다.</div>
              </div>
              <div id="rb-6" class="rb">
              <div class ="yes">그렇다</div>
              <div class="rb-tab" data-value="-2">
                <div class="rb-spot">
                  <div class="add1"></div>
                </div>
              </div><div class="rb-tab" data-value="-1">
                <div class="rb-spot">
                  <div class="add2"></div>
                </div>
              </div><div class="rb-tab" data-value="0">
                <div class="rb-spot">
                  <div class="add3"></div>
                </div>
              </div><div class="rb-tab" data-value="1">
                <div class="rb-spot">
                  <div class="add4"></div>
                </div>
              </div><div class="rb-tab" data-value="2">
                <div class="rb-spot">
                  <div class="add5"></div>
                </div>
              </div>
              <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
              <div class="question">
                  <div>프로젝트에서 창의적인 아이디어를 내기보다 현실적인 대안을 제시하는 편입니다.</div>
              </div>
              <div id="rb-7" class="rb">
                <div class ="yes">그렇다</div>
                <div class="rb-tab" data-value="-2">
                  <div class="rb-spot">
                    <div class="add1"></div>
                  </div>
                </div><div class="rb-tab" data-value="-1">
                  <div class="rb-spot">
                    <div class="add2"></div>
                  </div>
                </div><div class="rb-tab" data-value="0">
                  <div class="rb-spot">
                    <div class="add3"></div>
                  </div>
                </div><div class="rb-tab" data-value="1">
                  <div class="rb-spot">
                    <div class="add4"></div>
                  </div>
                </div><div class="rb-tab" data-value="2">
                  <div class="rb-spot">
                    <div class="add5"></div>
                  </div>
                </div>
                <div class="no">그렇지 않다</div>
            </div>
    <div class="btn1">
      <button onclick="location.href='http://52.79.86.164:3000/survey2'" class="submit trigger" >다음으로 넘어가기</button>
    </div>
      <!-- disabled="" 추가 -->
    </body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="js/index1.js">
    </script>
        <script src="js/user1.js">
        </script>
       
   
</html>