<!DOCTYPE html>
<html>  
    <head>
        <link rel='stylesheet' href='/stylesheets/survey.css' />
        <!-- <link rel='stylesheet' href='/stylesheets/btn.css' /> -->
        <meta charset="utf-8">
        <!-- 모바일 우선 -->
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      </head>
    <body>
        <div class="navbar_logo">
            <div class="logo" style="font-weight: bold; font-size: 20px;">찰떡피플</div>
            <a class="navbar_info" href="./diff_type">6개 협업 유형 보러가기</a>
        </div>

            <img class="item-pop" src="images/sea.jpg">
        
        <div class="survey_list">
            <div class="survey">
                <div class="question">
                    <div>재밌었다가 우울해지고 우울했다가 재밌어지는 상황이 반복적으로 일어날 때가 있습니다.</div>
                </div>
                <div id="rb-1" class="rb">
                    <div class ="yes">그렇다</div>
                    <div class="rb-tab" data-value="-2">
                      <div class="rb-spot">
                        <div class="add1"></div>
                      </div>
                    </div><div class="rb-tab" data-value="-1">
                      <div class="rb-spot">
                        <div class="add2"></div>
                      </div>
                    </div><div class="rb-tab" data-value="0">
                      <div class="rb-spot">
                        <div class="add3"></div>
                      </div>
                    </div><div class="rb-tab" data-value="1">
                      <div class="rb-spot">
                        <div class="add4"></div>
                      </div>
                    </div><div class="rb-tab" data-value="2">
                      <div class="rb-spot">
                        <div class="add5"></div>
                      </div>
                    </div>
                    <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
                <div class="question">
                    <div>팀원에게 먼저 말을 거는 편입니다.</div>
                </div>
                <div id="rb-2" class="rb">
                  <div class ="yes">그렇다</div>
                  <div class="rb-tab" data-value="-2">
                    <div class="rb-spot">
                      <div class="add1"></div>
                    </div>
                  </div><div class="rb-tab" data-value="-1">
                    <div class="rb-spot">
                      <div class="add2"></div>
                    </div>
                  </div><div class="rb-tab" data-value="0">
                    <div class="rb-spot">
                      <div class="add3"></div>
                    </div>
                  </div><div class="rb-tab" data-value="1">
                    <div class="rb-spot">
                      <div class="add4"></div>
                    </div>
                  </div><div class="rb-tab" data-value="2">
                    <div class="rb-spot">
                      <div class="add5"></div>
                    </div>
                  </div>
                  <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
                <div class="question">
                    <div>비현실적이지만 흥미로운 상상을 많이 하는 편입니다.</div>
                </div>
                <div id="rb-3" class="rb">
                  <div class ="yes">그렇다</div>
                  <div class="rb-tab" data-value="-2">
                    <div class="rb-spot">
                      <div class="add1"></div>
                    </div>
                  </div><div class="rb-tab" data-value="-1">
                    <div class="rb-spot">
                      <div class="add2"></div>
                    </div>
                  </div><div class="rb-tab" data-value="0">
                    <div class="rb-spot">
                      <div class="add3"></div>
                    </div>
                  </div><div class="rb-tab" data-value="1">
                    <div class="rb-spot">
                      <div class="add4"></div>
                    </div>
                  </div><div class="rb-tab" data-value="2">
                    <div class="rb-spot">
                      <div class="add5"></div>
                    </div>
                  </div>
                  <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
                <div class="question">
                    <div>여행을 갈 때 즉흥적으로 다니기보다는 계획을 철저하게 세우는 편입니다.</div>
                </div>
                <div id="rb-4" class="rb">
                  <div class ="yes">그렇다</div>
                  <div class="rb-tab" data-value="-2">
                    <div class="rb-spot">
                      <div class="add1"></div>
                    </div>
                  </div><div class="rb-tab" data-value="-1">
                    <div class="rb-spot">
                      <div class="add2"></div>
                    </div>
                  </div><div class="rb-tab" data-value="0">
                    <div class="rb-spot">
                      <div class="add3"></div>
                    </div>
                  </div><div class="rb-tab" data-value="1">
                    <div class="rb-spot">
                      <div class="add4"></div>
                    </div>
                  </div><div class="rb-tab" data-value="2">
                    <div class="rb-spot">
                      <div class="add5"></div>
                    </div>
                  </div>
                  <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
              <div class="question">
                  <div>스스로 불안해하지 않습니다.</div>
              </div>
              <div id="rb-5" class="rb">
                <div class ="yes">그렇다</div>
                <div class="rb-tab" data-value="-2">
                  <div class="rb-spot">
                    <div class="add1"></div>
                  </div>
                </div><div class="rb-tab" data-value="-1">
                  <div class="rb-spot">
                    <div class="add2"></div>
                  </div>
                </div><div class="rb-tab" data-value="0">
                  <div class="rb-spot">
                    <div class="add3"></div>
                  </div>
                </div><div class="rb-tab" data-value="1">
                  <div class="rb-spot">
                    <div class="add4"></div>
                  </div>
                </div><div class="rb-tab" data-value="2">
                  <div class="rb-spot">
                    <div class="add5"></div>
                  </div>
                </div>
                <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
              <div class="question">
                  <div>주목받는 일에 관심이 없습니다.</div>
              </div>
              <div id="rb-6" class="rb">
              <div class ="yes">그렇다</div>
              <div class="rb-tab" data-value="-2">
                <div class="rb-spot">
                  <div class="add1"></div>
                </div>
              </div><div class="rb-tab" data-value="-1">
                <div class="rb-spot">
                  <div class="add2"></div>
                </div>
              </div><div class="rb-tab" data-value="0">
                <div class="rb-spot">
                  <div class="add3"></div>
                </div>
              </div><div class="rb-tab" data-value="1">
                <div class="rb-spot">
                  <div class="add4"></div>
                </div>
              </div><div class="rb-tab" data-value="2">
                <div class="rb-spot">
                  <div class="add5"></div>
                </div>
              </div>
              <div class="no">그렇지 않다</div>
            </div>
            <div class="h"><hr></div>
              <div class="question">
                  <div>프로젝트에서 창의적인 아이디어를 내기보다 현실적인 대안을 제시하는 편입니다.</div>
              </div>
              <div id="rb-7" class="rb">
                <div class ="yes">그렇다</div>
                <div class="rb-tab" data-value="-2">
                  <div class="rb-spot">
                    <div class="add1"></div>
                  </div>
                </div><div class="rb-tab" data-value="-1">
                  <div class="rb-spot">
                    <div class="add2"></div>
                  </div>
                </div><div class="rb-tab" data-value="0">
                  <div class="rb-spot">
                    <div class="add3"></div>
                  </div>
                </div><div class="rb-tab" data-value="1">
                  <div class="rb-spot">
                    <div class="add4"></div>
                  </div>
                </div><div class="rb-tab" data-value="2">
                  <div class="rb-spot">
                    <div class="add5"></div>
                  </div>
                </div>
                <div class="no">그렇지 않다</div>
            </div>

    <div class="btn1">
      <button onclick="location.href='./survey2'" class="submit trigger" >다음으로 넘어가기</button>
    </div>
      <!-- disabled="" 추가 -->
    </body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="js/index1.js">
    </script>
    <!-- <script>
      var survey1 = []; //Bidimensional array: [ [1,3], [2,4] ]

    //Switcher function:
    $(".rb-tab").click(function () {
      //Spot switcher:
      $(this).parent().find(".rb-tab").removeClass("rb-tab-active");
      $(this).addClass("rb-tab-active");
    });

    //Save data:
    $(".trigger").click(function () {
    const num1=$("#rb-1").find(".rb-tab-active").attr("data-value");
    const num2=$("#rb-2").find(".rb-tab-active").attr("data-value");
    const num3=$("#rb-3").find(".rb-tab-active").attr("data-value");
    const num4=$("#rb-4").find(".rb-tab-active").attr("data-value");
    const num5=$("#rb-5").find(".rb-tab-active").attr("data-value");
    const num6=$("#rb-6").find(".rb-tab-active").attr("data-value");
    const num7=$("#rb-7").find(".rb-tab-active").attr("data-value");
    alert("num1: "+num1);
    //지금 당장 구현해야하는 부분 : num1~num7까지 sql문에 넣을 수 있도록 넘겨주는 것
    //근데 여기가 실행이 되지 않는 것 같음...........................................
      $.post("/", { num1:num1, num2:num2, num3:num3, num4:num4, num5:num5, num6:num6, num7:num7},
      function(data){
          // 실행되면 alert 떠야하는데 안뜸
          alert("Return data" + data);
      }, "json"
      );
    // default action 방지
    return false;

    //안되는부분 ajax를 사용해본다면 여기서 routes/survey1로 가서 controllers/inputControllers->model/input으로 연결됐으면 좋겠다,,
    //   $.ajax({
    //     url: '/survey1',                //주소
    //     dataType: 'json',                  //데이터 형식
    //     type: 'POST',                      //전송 타입
    //     data: {'num1':num1.val(),
    //           'num2':num2.val(),
    //           'num3':num3.val(),
    //           'num4':num4.val(),
    //           'num5':num5.val(),
    //           'num6':num6.val(),
    //           'num7':num7.val()
    //   },      //데이터를 json 형식, 객체형식으로 전송

    //     success: function(trigger) {          //성공했을 때 함수 인자 값으로 결과 값 나옴
    //     alert(trigger);
    //   }
      
    // }) //function끝
    });
        </script> -->
</html>