.col-sm-4{
    width: 254px;
    height: 361px;
    border-radius: 4px;
    border: solid 1px #707070;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.card-box{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    float: center;
}

.card-tag{
    width: auto;
    height: auto;
    border-radius: 4px;
    border: solid 2px #3673e5;
    background-color: #f5f4f4;
    font-family: NotoSans;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #000000;
    white-space: nowrap;
    padding: 3px;
    margin: auto;
}

.add{
    width:107px;
    height:35px;
    float: right;
}

.card-img-top{
    object-fit: contain;
}
@media ( min-width: 768px ) {
    .col-sm-4{
        width: 254px;
        height: 361px;
        border-radius: 4px;
        border: solid 1px #707070;
        background-color: #ffffff;
        display: flex;
        align-items: center;
    }
    
    .card-box{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        float: center;
    }
    
    .card-tag{
        width: auto;
        height: auto;
        border-radius: 4px;
        border: solid 2px #3673e5;
        background-color: #f5f4f4;
        font-family: NotoSans;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: #000000;
        white-space: nowrap;
        padding: 3px;
        margin: auto;
    }
    
    .add{
        width:157px;
        height:55px;
        float: right;
    }

    .card-img-top{
        object-fit: contain;
    }
    
}

@media ( min-width: 1024px ) {
    .col-sm-4{
        width: 254px;
        height: 361px;
        border-radius: 4px;
        border: solid 1px #707070;
        background-color: #ffffff;
        display: flex;
        align-items: center;
    }
    
    .card-box{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }
    
    .card-tag{
        width: auto;
        height: auto;
        border-radius: 4px;
        border: solid 2px #3673e5;
        background-color: #f5f4f4;
        font-family: NotoSans;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: #000000;
        white-space: nowrap;
        padding: 3px;
        margin: auto;
    }
    
    .add{
        width:117px;
        height:45px;
        float: right;
    }

    .card-img-top{
        object-fit: contain;
    }

}