body {
    font-family: NotoSans;
}

.col-sm-4{
    width: 254px;
    height: 361px;
    border-radius: 4px;
    border: solid 1px #707070;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.navbar_logo {
    width:100%;
    height:100px;
    padding: 60px 10px 50px 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    padding: 20px 20px 20px 20px;
    width: 120px;
  }
  
.navbar_info{
    width:100%;
    height:27px;
    padding:40px 0px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: NotoSans;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #3673e5;
  }

@font-face {
    font-family: NotoSans;
    src:url("../fonts/NotoSansRegular.ttf") format('truetype');
}
.card-box{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.card-tag{
    width: auto;
    height: auto;
    border-radius: 4px;
    border: solid 2px #3673e5;
    background-color: #f5f4f4;
    font-family: NotoSans;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    color: #000000;
    white-space: nowrap;
    padding: 3px;
    margin-right: 15px;
    margin-left: 15px;
}

.add{
  height: 37px;
  margin-top: 5%;
  padding-left: 65%;
}

.card-body{
    margin: auto;
}

@media ( min-width: 768px ) {
    .col-sm-4{
        width: 254px;
        height: 361px;
        border-radius: 4px;
        border: solid 1px #707070;
        background-color: #ffffff;
        display: flex;
        align-items: center;
    }
    
    @font-face {
        font-family: NotoSans;
        src:url("../fonts/NotoSansRegular.ttf") format('truetype');
    }

    .card-box{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }
    
    .card-tag{
        width: auto;
        height: auto;
        border-radius: 4px;
        border: solid 2px #3673e5;
        background-color: #f5f4f4;
        font-family: NotoSans;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: #000000;
        white-space: nowrap;
        padding: 3px;
        margin-right: 40px;
        margin-left: 40px;
    }
    
    .add{
        height: 45px;
        padding-left: 75%;
      }
 
    .card-body{
        margin: auto;
    }

}

@media ( min-width: 1024px ) {
    .navbar_logo {
        width:100%;
        height:100px;
        padding:100px 0px 80px 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo{
        padding: 20px 20px 20px 20px;
        width: 131px;
    }
    
    .navbar_info{
        width:100%;
        height:27px;
        padding:40px 0px 40px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: NotoSans;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #3673e5;
    }
    .col-sm-4{
        width: 254px;
        height: 361px;
        border-radius: 4px;
        border: solid 1px #707070;
        background-color: #ffffff;
        display: flex;
        align-items: center;
    }
    
    .card-box{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }
    
    @font-face {
        font-family: NotoSans;
        src:url("../fonts/NotoSansRegular.ttf") format('truetype');
    }

    .card-tag{
        width: auto;
        height: auto;
        border-radius: 4px;
        border: solid 2px #3673e5;
        background-color: #f5f4f4;
        font-family: NotoSans;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: #000000;
        white-space: nowrap;
        padding: 3px;
        margin-right: 8px;
        margin-left: 8px;
    }
    
    .add{
        height: 34px;
        margin-top: 5%;
        padding-left: 50%;
      }
 
    .card-body{
        margin: auto;
    }

}

@media ( max-width: 374px ) {
    .col-sm-4{
        width: 254px;
        height: 361px;
        border-radius: 4px;
        border: solid 1px #707070;
        background-color: #ffffff;
        display: flex;
        align-items: center;
    }

    @font-face {
        font-family: NotoSans;
        src:url("../fonts/NotoSansRegular.ttf") format('truetype');
    }
    
    .card-box{
        display: flex;
        align-items: center;
        padding-bottom: 10px;
    }
    
    .card-tag{
        width: auto;
        height: auto;
        border-radius: 4px;
        border: solid 2px #3673e5;
        background-color: #f5f4f4;
        font-family: NotoSans;
        font-size: 12px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.42;
        letter-spacing: normal;
        color: #000000;
        white-space: nowrap;
        padding: 3px;
        margin-right: 8px;
        margin-left: 8px;
    }
    
    .add{
        height: 34px;
        margin-top: 5%;
        padding-left: 55%;
      }
 
    .card-body{
        margin: auto;
    }

}