html,

body {
  height: 100%;
}

.navbarbar {
  position: fixed;
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
}



.navbarbar li  {
  width: 300px;
  height: 22px;
  font-family: NotoSans;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  cursor : pointer;
  list-style-type: none;
  text-decoration: none;
  margin: auto;
  min-width: 350px;
}



.navbarbar a {
  text-align: center;
  color: #3673e5;
}


.img_main {
  padding-top: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
  min-width: 350px;
}

.intro {
  padding-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
  width: 574px;
  height: 94px;
  font-family: Cafe24Ohsquare;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #2f2f2f;
  margin: auto;
  width: 50%;
  min-width: 350px;
}

.btn_gototest {
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0;
  outline: 0;
}

.guide  {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 635px;
  height: 57px;
  font-family: NotoSans;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #2f2f2f;
  margin: auto;
  max-width: 100%;
  height: auto;

}


.introduce  {
  padding-top: 100px;
  height: 42px;
  font-family: Cafe24Ohsquare;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  color: #2f2f2f;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro span{
  color: #3673e5;
}

.profile {
  padding-top: 140px;
  text-align: center;
}


.navbar_logo {
  width:100%;
  height:100px;
  padding: 60px 10px 50px 10px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img_logo{
  padding: 20px 20px 20px 20px;
  width: 120px;
}

.navbar_info{
  width:100%;
  height:27px;
  padding:40px 0px 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: NotoSans;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3673e5;
}