html
@media ( min-width: 320px ) {
  @font-face {
    font-family: Cafe24Ohsquare;
    src: url("../fonts/Cafe24Ohsquare.ttf") format('truetype');
  }
  @font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSansRegular.ttf") format('truetype');
  }

  body {
    font-family: NotoSans;
  }
  .fontCafe{
    font-family: Cafe24Ohsquare;
  }
}


@font-face {
  font-family: Cafe24Ohsquare;
  src: url("../fonts/Cafe24Ohsquare.ttf") format('truetype');
}
@font-face {
  font-family: NotoSans;
  src:url("../fonts/NotoSansRegular.ttf") format('truetype');
}

body {
  height: 100%;
  font-family: NotoSans;
}

.fontCafe{
  font-family: Cafe24Ohsquare;
}

.img_main {
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
  min-width: 350px;
}

.intro {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: 574px;
  height: 94px;
  font-family: Cafe24Ohsquare;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #2f2f2f;
  margin: auto;
  width: 50%;
  min-width: 350px;
}

.btn_gototest {
  padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0;
  outline: 0;
}

.guide  {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 635px;
  height: 57px;
  font-family: NotoSans;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #2f2f2f;
  margin: auto;
  max-width: 100%;
  height: auto;

}


.introduce  {
  padding-top: 100px;
  height: 42px;
  font-family: Cafe24Ohsquare;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  color: #2f2f2f;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro span{
  color: #3673e5;
}

.profile {
  padding-top: 140px;
  margin-bottom: 50px;
  text-align: center;
}


.navbar_logo {
  width:100%;
  height:100px;
  padding: 60px 10px 50px 10px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_info{
  width:100%;
  height:27px;
  padding:40px 0px 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: NotoSans;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #3673e5;
}

.logo{
  padding: 20px 20px 20px 20px;
  width: 120px;
}


@media ( min-width: 1024px ) {
  @font-face {
    font-family: Cafe24Ohsquare;
    src: url("../fonts/Cafe24Ohsquare.ttf") format('truetype');
  }
  @font-face {
    font-family: NotoSans;
    src:url("../fonts/NotoSansRegular.ttf") format('truetype');
  }
  .intro{
    white-space: nowrap;
  }
  .fontCafe{
    font-family: Cafe24Ohsquare;
  }
  .navbar_logo {
    width:100%;
    height:100px;
    padding:100px 0px 80px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    padding: 20px 20px 20px 20px;
    width: 131px;
  }

  .navbar_info{
    width:100%;
    height:27px;
    padding:40px 0px 40px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: NotoSans;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #3673e5;
  }

  @media ( max-width: 321px ) {
    @font-face {
      font-family: Cafe24Ohsquare;
      src: url("../fonts/Cafe24Ohsquare.ttf") format('truetype');
    }
    @font-face {
      font-family: NotoSans;
      src:url("../fonts/NotoSansRegular.ttf") format('truetype');
    }
    .fontCafe{
      font-family: Cafe24Ohsquare;
    }
    .intro{
      font-size: 18px;
      font-family: Cafe24Ohsquare;
      display: unset;
    }
    .img_main {
      padding-top: 0px;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: auto;
      width: 50%;
      min-width: 325px;
  }
  }
  
}